article {
    transition: box-shadow 0.3s ease-in-out;
}

article.xbox_dynasty {
    @apply md:h-48 h-auto bg-right-top bg-auto pt-16 bg-contain;
}

article.xbox_dynasty h2 {
    @apply w-52 md:w-96 text-gray-500 bg-white pr-0;
}

article.xbox_dynasty p {
    @apply hidden;
}

article.asmodee {
    @apply pt-20 md:pt-32;
}

article.ulisses_spiele {
    @apply h-44 md:h-80 pt-32 md:pt-64 bg-cover;
}

article.blue_brixx {
    background-size: auto;
    background-position-y: 20px;
}

article.f_shop {
    background-position-y: 5px;
}

article.rail_sim {
    background-position-y: 25px;
    background-size: 80%;
}

article.tsw {
    @apply bg-cover relative md:h-80 md:pt-64;
}

article.tsw p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 0;
    padding: 10px 5px 10px 5px;
}

article.fantasy_flight_games {
    padding: 10px 5px 10px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    vertical-align: bottom;
    width: 460px;

    display: block;
    height: 210px;
}

article.fantasy_flight_games h2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

article.asmodee:hover {
    box-shadow: 0 0 10px 0 blueviolet;
}

article.rail_sim:hover {
    box-shadow: 0 0 10px 0 darkred;
}

article.fantasy_flight_games:hover {
    box-shadow: 0 0 10px 0 dodgerblue;
}

article.blue_brixx:hover {
    box-shadow: 0 0 10px 0 deepskyblue;
}

article.ulisses_spiele:hover, article.f_shop:hover {
    box-shadow: 0 0 10px 0 green;
}

article.xbox_dynasty:hover {
    box-shadow: 0 0 10px 0 yellowgreen;
}

article.tsw:hover {
    box-shadow: 0 0 10px 0 orange;
}